@tailwind base;

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #7f2607;
  border-radius: 14px;
  border: 3px solid #7f2607;
}

@tailwind components;

@layer components {
  .btn-1 {
    @apply bg-white text-sm text-primary border border-primary py-1.5 px-6 rounded-full active:bg-[#641e03] hover:bg-[#641e03] hover:text-white;
  }
  .btn-2 {
    @apply bg-primary text-sm text-white py-1.5 px-6 rounded-full border border-primary  active:bg-[#641e03] hover:bg-[#641e03];
  }
}

@tailwind utilities;
